<%- memos = @thinktank.memos.index( memoid: req.memoid, options: req.query ) -%>
<%- memos.each{|memo| -%>
<a href='<%= req.url_to( :show, memo.memoid ) -%>' target='_blank'> <%= memo.memoid -%> .howm</a>
<%= memo.firstline -%></BR>
<%- }  -%>

	



