<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
  <title></title>
  <meta name="generator" content="thinktank" />
	<meta http-equiv="Content-Script-Type" content="text/javascript"/>
	<meta http-equiv="Content-Style-Type" content="text/css"/>
  <style type="text/css">code{white-space: pre;}</style>

  <link href="../style/thinktank.css" type="text/css" rel="stylesheet" />

	<link href="../bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<script src="../bootstrap/js/bootstrap.js"></script>
</head>

<body>


<%= yield -%>


</body>
</html>

      
